.my-button-2{
    color: #F29F05;
    border: 2px solid #F29F05;
    width: fit-content;
    text-align: center;
    border-radius: 10px;
    
}

.my-button{
    text-align: center;
    color: #C67C00;
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
    padding: 0 25px;
    border-radius: 10px;
    height: 55px;
    line-height: 55px;
}

.my-about-text{
    font-size: 53px;
    line-height: 67px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    font-weight: bold;
    text-align: center;
}